{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <section class="container px-6 py-16 mx-auto">
        <article class="items-center lg:flex ">
            <section class="w-full lg:w-1/2">
                <article class="lg:max-w-lg">
                    <h1 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">Connaissez vous la qualité de <span class="text-blue-800">l'eau de votre ville ?</span></h1>

                    <p class="mt-3 text-gray-600 dark:text-gray-400">Vous pouvez le découvrir <span class="font-medium text-blue-800">en quelques clics</span>.</p>
                </article>
            </section>

            <aside class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
                <img class="w-full h-full max-w-md lg:drop-shadow-xl lg:drop-shadow-blue-800" src="https://picsum.photos/id/13/1000" alt="le bord d'un lac">
            </aside>
        </article>
    </section>
{% endblock %}
