{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - affichage des résultats{% endblock %}

{% block body %}
<section class="container px-6 py-16 mx-auto">
<h1 class="text-3xl font-semibold text-center text-gray-800 dark:text-white lg:text-4xl">Notre outil de recherche</h1>
{% if code_commune%}
<p class="text-lg text-center text-gray-800 dark:text-white lg:text-4xl">Le code commune est le suivant : {{ code_commune }}</p>
{% else %}
{% for message in app.flashes('error') %}
    <div class="text-red-300 text-lg text-center lg:text-4xl mt-5">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
</section>
{% endblock %}
