{% extends 'base.html.twig' %}

{% block title %}Hello WaterAnalysisController!{% endblock %}

{% block body %}
    <section class="container px-6 py-16 mx-auto">
        <article class="items-center lg:flex lg:justify-center">
            <section class="w-full lg:w-1/2">
                <article class="lg:max-w-xl">
                    <h1 class="text-3xl font-semibold text-center text-gray-800 dark:text-white lg:text-4xl">Notre outil de recherche</h1>
                </article>
            </section>
        </article>
    </section>
{% endblock %}
