<label for="{{ field.vars.id }}">
	<span class="text-sm font-medium text-gray-800">
		{{ label }}
	</span>
	<div class="relative">
		{{ form_widget(field) }}
		<span class="absolute inset-y-0 right-2 grid w-8 place-content-center">
			<button type="submit" aria-label="Submit" class="rounded-full p-1.5 text-gray-800 transition-colors bg-transparent hover:bg-blue-800 hover:text-white">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
				</svg>
			</button>
		</span>
	</div>
</label>
